ALTER TABLE public.generated_content ADD COLUMN IF NOT EXISTS tolerance_tier TEXT; ALTER TABLE public.generated_content ADD COLUMN IF NOT EXISTS play_mode TEXT; ALTER TABLE public.generated_content ADD COLUMN IF NOT EXISTS theme_tags TEXT;
